.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233,233,233);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 1.2em;
    background-color: rgb(233,233,233);
}

input:focus {
    outline: none;
}

.search-icon {
    size: 1.3em;
}

.toggle-on:hover{
    cursor: pointer;
}

.toggle-on {
    background-color: rosybrown;
    border-radius: 10px;
    padding: 5px;
}

.toggle-off:hover {
    cursor: pointer;
}

.toggle-off {
    background-color: rosybrown;
    border-radius: 10px;
    padding: 5px;
}